
*{
    margin: 0;
    padding: 0;
}
#body{
    width: 100%;
    height: max-content;
    padding-top: 150px;
    margin: 0 0 50px 0;
}
#body .title-select-admin{
    width: 90%;
    display: flex;
    margin: auto auto;
}
#body .title-select-admin p{
    width:max-content;
    margin: auto auto;
}
#body .select-admin-box {
    width:90%;
    margin: auto auto;
    height:500;
}
.title-box{
    width: 100%;
    border: 2px solid rgb(131, 131, 131) ;
    height: 40px;
    display:flex;
    background-color: #f1f1f1;
    font-size: 20px;
    /* border-radius: 9px; */
    margin-top: 20px;
}
.title-box-1{
    display:block;
    width:20%;
    border-right:2px solid rgb(131, 131, 131)  ;
}
.title-box-1 p{
    width:max-content;
    margin:7px auto;

}
.title-box-2{
    display:block;
    width:40%;
    border-right:2px solid rgb(131, 131, 131)  ;
}
.title-box-2 p{
    width:max-content;
    margin:7px auto;
}
.title-box-3{
    display:block;
    width:10%;
    border-right:2px solid rgb(131, 131, 131) ;
}
.title-box-3 p{
    width:max-content;
    margin:7px auto;
}
.title-box-4{
    display:block;
    width:10%;
}
.title-box-4 p{
    width:max-content;
    margin:7px auto;
}
.info-box{
    width: 100%;
    border: 2px solid rgb(131, 131, 131) ;
    height: 150px;
    display:flex;
    font-size: 20px;
    /* border-radius: 9px; */
    /* margin-top: 20px; */
}
.info-box-1{
    display:block;
    width:20%;
    
    border-right:2px solid rgb(131, 131, 131) ;
}
.info-box-1 p{
    width:max-content;
    margin:7px auto;

}
.info-box-2{
    display:block;
    width:40%;
    border-right:2px solid rgb(131, 131, 131) ;
}
.info-box-2 p{
    width:max-content;
    margin:7px auto;
}
.info-box-3{
    display:block;
    width:10%;
    border-right:2px solid rgb(131, 131, 131) ;
}
.info-box-3 p{
    width:max-content;
    margin:7px auto;

}
.info-box-4{
    display:block;
    width:10%;
}
.info-box-4 p{
    width:max-content;
    margin:7px auto;
}
.admin{
    padding: 15% 26%;
    margin: auto auto;
    font-size: 25px;
    text-align: center;
}
.admin input
{
    width: 25%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #252222;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10px;
    font-size: large;
}
.admin a input:hover
{
    background-color: #cfcccc;
    cursor: pointer;
}
#heading
{
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    display: flex;
}
/*heading*/
.heading-box-L
{
    width: 35%;
    display: block;

}
.heading-box-R
{
    width: 25%;
    display: block;
    margin-left: 10%;

}
.heading-box-C
{
    margin-top: 1%;
    text-align: center;
    width: 40%;
    display: block;
}
/*item of heading*/
#item
{
    align-items: center;
    font-size: 30px;
}
#item .item-box
{
    width: 30%;
    font-size: 120%;
    margin-top: 2%
}
#item .item-box a
{
    text-decoration: none;
    color: black;
    cursor: pointer; /*Converts pointer to hand*/
}
#item .item-box a:hover
{
    opacity: 0.5;/*make transparent*/
}
/*item to top of page*/
#item-home
{
    opacity: 0.7;/*make transparent*/
    position: fixed;/*fixed the icon*/
    bottom: 0;
    z-index: 6;/*stack of images*/    
}
#item-home:hover
{
    opacity: 1;
}
/*design menu*/
#main-menu 
{
    width: 100%;
    height: max-content;
    display: flex;
    background-color: #f1f1f1;
    z-index: 5;
}
#main-menu li
{
    width: 25%;
    position: relative; /*Select the parent elements position*/
    list-style: none;
}
#main-menu li a
{
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 20px 20px;
    font-size: 17px;
}
#main-menu li a:hover /*change text color when you point*/
{
    color: rgb(225, 96, 21);
}


#body{
    width: 70%;
    margin: auto auto;
    height: max-content;
    padding-top: 200px;
}
#body h1{
    width: 100%;
    text-align: center;
}
#body .frame
{
    margin-top: 2%;
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid #cfcccc;
    border-top: 1px solid #cfcccc;
}
#body .frame .frame-box
{
    margin: 0.5%;
    margin-left: 2%;
    width: 31%;
    height: 94%;
    display: block;
    border-radius: 20px;
}
#body .frame .frame-box h3
{
    text-align: center;
    margin-top: 2%;
    font-size: 25px;
}
#body .frame .frame-box h2
{
    text-align: center;
    margin-top: 2%;
}
#body .frame .frame-box h1
{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#body select
{
    font-size: large;
    margin-left: 7%;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cfcccc;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10px;
}
#body input{
    font-size: large;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cfcccc;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 10px;
}
#body button{
    font-size: large;
    width: 10%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #cfcccc;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #f1f1f1;
    cursor: pointer;
}
#body label
{
    font-size: large;
}
#body button:hover
{
    background-color: #cfcccc;
}
.chart
{
    margin-top: 1%;
    width: 100%;
    height: 500px;
    display: flex;
}
.chart .chart-box
{
    margin: 0.5%;
    margin-left: 2%;
    width: 38%;
    height: 94%;
    display: block;
    border-radius: 20px;
    background-color: #f1f1f1;
}
.chart  h1
{
    text-align: center;
    margin-top: 2%;
}
.chart .chart-box1
{
    margin: 0.5%;
    margin-left: 2%;
    width: 60%;
    height: 94%;
    display: block;
    border-radius: 20px;
    background-color: #f1f1f1;
}

#footer
{
    width: 100%;
    height: max-content;
    background-color:#BDDCB3 ;
    display: flex;
    color:#807979
}
.footer-box
{
    width: 20%;
    margin: 1%;
    display: block;
}
#footer ul.information 
{
    margin-left: 20%;
}
#footer ul.information li
{
    margin-left: -20px;
}
.info-contact
{
    display: flex;
    font-size: 40px;
    margin: 8px;
}
.info-contact p
{
    margin-top: 13px;
    font-size: medium;
}